:root {
    --lightest: #cad2c5ff;  /* Ash Gray */
    --light: #84a98cff;  /* Dark Sea Green */
    --med: #52796fff;  /* Hookers Green */
    --dark: #354f52ff;  /* Dark Slate Gray */
    --darkest: #2f3e46ff;  /* Charcoal */
}

body {
    background-color: var(--lightest);
}

html,body,.whole {
    margin: 0;
    height: 100%;
}

.whole {
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.markdown-body {
    background: var(--light);
    font-family: 'Fira Code', monospace;
    color: var(--darkest);

    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding: 45px;
    border-bottom-color: var(--light);
}

.markdown-body:not(.header) {
    height: 100%;
}

.markdown-body h2 {
    border-bottom-color: var(--med);
}

.markdown-body a {
    color: var(--dark);
    text-decoration: underline;
}

.header {
    padding: 80px;
    background: var(--darkest);
    color: var(--light);
}

.header .grayed {
    color: var(--dark);
}

.header .squished1 {
    letter-spacing: -.4ch;
}

.header .squished2 {
    letter-spacing: -.2ch;
}

.header a {
    color: var(--light);
    text-decoration: underline;

}

.header h1 {
    border-bottom: none;
    margin-bottom: 1px;
}

.header p {
    margin-bottom: 1px;
}

div.blok {
    overflow: hidden;
}

div.horiz {
    display: inline-block;
}

div.horiz.l {
    float: left;
}

div.horiz.r {
    float: right;
}

@media (max-width: 700px) {
    .markdown-body {
        padding: 25px;
    }
    /*.header {*/
    /*    text-align: center;*/
    /*}*/

    div.blok {
        width: 300px;
        horiz-align: center;
        /*margin: 0 auto;*/
    }
    .header p {
        /*padding-bottom: 15px;*/
    }
}
